@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(13, 10, 58);
}

header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: rgb(13, 10, 58);
    align-items: center;
} 

header h1 {
    color: white;
    margin: 0;
    font-size: 40px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    position: relative;
    overflow: hidden;
}

.movie img {
    width: 100%;
}

.detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.detail h3 {
    margin-top: 0;
}

.detail span {
    background-color: black;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.detail span.green {
    color: lightgreen;
}

.detail span.orange {
    color: orange;
}

.detail span.red {
    color: red;
}

.date {
    margin-left: 1rem;
    margin-bottom: 1rem;
}